{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{% static "CSS/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "CSS/BeautyForms.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "CSS/CustomStyles.css" %}">
        <script src="{% static "JS/jquery-2.1.4.min.js" %}"></script>
        <script src="{% static "JS/OfferScripts.js" %}"></script>
    </head>
<body background="/static/Images/Back.jpg">

     <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <span class="mbr-brand__logo"><a href="#"><img class="menu_logo" src="/static/Images/logo.png" alt="Mobirise"></a></span>
              <ul class="navbar-nav"> <!-- Контент меню -->
                <li class="nav-item">
                        <a class="nav-link menu_text" href="/home/"> Главная страница </a>
                </li>
                {% if username %} <!-- Пользователь авторизирован -->
                    <li class="nav-item">
                        <a class="nav-link menu_text" href="/offer_element/"> Добавить </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu_text" href="/contact/"> Обратная связь </a>
                    </li>

                    <div class="form-row auth_pare">
                        <li class="nav-item">
                            <a class="nav-link menu_text" href="/personal_account/"> Личный кабинет </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu_text" href="/auth/logout/">Выйти ({{ username }})<span class="sr-only">(current)</span></a>
                        </li>
                    </div>

                {% else %} <!-- Пользователь не авторищирован -->
                    <div class="form-row auth_pare">
                        <li>
                            <a class="nav-link menu_text" href="/auth/login/"> Войти </a>
                        </li>
                        <li>
                            <a class="nav-link menu_text" href="/auth/registration/"> Зарегистрироваться </a>
                        </li>
                    </div>
                {% endif %}
              </ul>
          </div>
    </nav>




<div class="container">
    <form action="/offer_element/" method="POST" autocomplete="off">
    {% csrf_token %}
        <div class="row">
            <table id="offer_table" class="table table-bordered table-condensed handbook_text">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Класс</th>
                  <th scope="col">Группа</th>
                  <th scope="col">Подгруппа</th>
                  <th scope="col">Элемент</th>
                  <th scope="col">Компания</th>
                  <th scope="col">MTBF</th>
                  <th scope="col">Ремонтопригодность</th>
                  <th scope="col">Источник</th>
                  <th scope="col">Информация</th>
                </tr>
              </thead>
              <tbody>
                <tr id="row_1">
                      <th scope="row">1</th>
                      <td>
                          <input id="class_1" name="classes" class="for_table" type="text" list="classes" onchange="collect_groups(this)" required/>
                          <datalist id="classes">
                              {% for class in Classes %}
                                  <option>{{ class }}</option>
                              {%  endfor %}
                          </datalist>
                      </td>
                      <td>
                          <input id="group_1" name="groups" class="for_table" type="text" list="groups_1" onchange="collect_subgroups(this)" required/>
                          <datalist id="groups_1"></datalist>
                      </td>
                      <td>
                          <input id="subgroup_1" name="subgroups" class="for_table" type="text" list="subgroups_1" required/>
                          <datalist id="subgroups_1"></datalist>
                      </td>
                      <td>
                          <input id="element_1" name="elements" type="text" class="for_table" required>
                      </td>
                      <td>
                          <input id="company_1" name="companies" type="text" class="for_table" list="companies_1" required>
                          <datalist id="companies_1">
                              {% for company in Companies %}
                                  <option>{{ company }}</option>
                              {%  endfor %}
                          </datalist>
                      </td>
                      <td>
                          <input id="MTBF" name="MTBFs" type="text" class="for_table" required>
                      </td>
                      <td>
                          <input id="maintainability" name="maintainability" type="text" class="for_table" required>
                      </td>
                      <td>
                          <input id="source" name="sources" type="text" class="for_table" required>
                      </td>
                      <td>
                          <input id="info" name="info" type="text" class="for_table" list="info_" required>
                          <datalist id="info_">
                              <option> Нет </option>
                          </datalist>
                      </td>
                </tr>
              </tbody>
            </table>

    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="button" class="submit" value="Добавить элемент" onclick="add_table_row()">
        </div>
        <div class="col-md-4">
            <input type="button" class="submit" value="Удалить элемент" onclick="remove_last_table_row()">
        </div>
        <div class="col-md-4">
            <input type="submit" value="Предложить">
        </div>
    </div>
    </form>
</div>


</body>
</html>