{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{% static "CSS/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "CSS/CustomStyles.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "CSS/BeautyForms.css" %}">
        <script src="{% static "JS/jquery-2.1.4.min.js" %}"></script>
        <script src="{% static "JS/UsefulScripts.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
<body>


<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="main_page_header" >
            <h3> Введите данные элемента! </h3>
        </div>
    </div>

    <div class="row">
        <form action="/offer_element/" method="POST">
        {% csrf_token %}
            <table id="offer_table" class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Класс</th>
                  <th scope="col">Группа</th>
                  <th scope="col">Подгруппа</th>
                  <th scope="col">Элемент</th>
                  <th scope="col">Наработка на отказ</th>
                  <th scope="col">Время использования</th>
                </tr>
              </thead>
              <tbody>
                <tr id="row_1">
                      <th scope="row">1</th>
                      <td>
                          <input id="class_1" name="classes" class="for_table" type="text" list="classes" onchange="collect_groups(this)"/>
                          <datalist id="classes">
                              {% for class in Classes %}
                                  <option>{{ class }}</option>
                              {%  endfor %}
                          </datalist>
                      </td>
                      <td>
                          <input id="group_1" name="groups" class="for_table" type="text" list="groups_1" onchange="collect_subgroups(this)"/>
                          <datalist id="groups_1">
                          </datalist>
                      </td>
                      <td>
                          <input id="subgroup_1" name="subgroups" class="for_table" type="text" list="subgroups_1"/>
                          <datalist id="subgroups_1">
                          </datalist>
                      </td>
                      <td>
                          <input id="element_1" type="text" class="for_table">
                      </td>
                      <td>
                          <input type="text" class="for_table">
                      </td>
                      <td>
                          <input type="text" class="for_table">
                      </td>
                </tr>
              </tbody>
            </table>
            <input type="button" value="Добавить элемент" onclick="add_table_row()">
            <input type="submit" value="Предложить">
        </form>
    </div>
</div>






</body>
</html>