.page_header{
    text-align: center;
    color: #6f42c1;
}


.main_page_header{
    text-align: center;
    font-family: Calibri;
    color: white;
}

.main_page_text_main{
    font-size: 26pt;
    font-family: Calibri;
    color: white;
    text-align: center;
    padding-top: 20%;
}

.main_page_text_lower{
    font-size: 18pt;
    font-family: Calibri;
    color: white;
    text-align: center;
    padding-top: 5%;
}

.auth_pare{
    position: absolute;
    right: 15px;
}


.for_table {
    display: block !important;
    padding: 3px !important;
    margin: 0 !important;
    border: 0 !important;
    width: 100% !important;
    border-radius: 0 !important;
    line-height: 2 !important;}

td {margin: 0 !important; padding: 0 !important;}

.fixedContactData{
    background-color: white;
    position: fixed;
    left: 5px;
    bottom: 2px;
    width: 100%;
}

.menu_text{
    color: white;
    font-family: Calibri;
}

.menu_logo{
    display: inline-block;
}

.contacts_text{
    color: darkgray;
    font-family: Calibri;
}

.handbook_text{
    color: darkgray;
    font-family: Calibri;
}

.handbook_confirm{
    position: fixed;
    width: 30px;
    max-width: 20%;
    bottom: 60px;
}

.handbook_title{
    color: white;
    font-family: Calibri;
    font-style: oblique;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}