{% extends "home.html" %}

{% block login %}

<nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <span class="mbr-brand__logo"><a href="#"><img class="menu_logo" src="/static/Images/logo.png" alt="Mobirise"></a></span>
          <ul class="navbar-nav"> <!-- Контент меню -->
            <li class="nav-item">
                    <a class="nav-link menu_text" href="/home/"> Главная страница </a>
            </li>
            {% if username %} <!-- Пользователь авторизирован -->
                <li class="nav-item">
                    <a class="nav-link menu_text" href="/offer_element/"> Добавить </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu_text" href="/contact/"> Обратная связь </a>
                </li>

                <div class="form-row auth_pare">
                    <li class="nav-item">
                        <a class="nav-link menu_text" href="/personal_account/"> Личный кабинет </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu_text" href="/auth/logout/">Выйти ({{ username }})<span class="sr-only">(current)</span></a>
                    </li>
                </div>

            {% else %} <!-- Пользователь не авторищирован -->
                <div class="form-row auth_pare">
                    <li>
                        <a class="nav-link menu_text" href="/auth/login/"> Войти </a>
                    </li>
                    <li>
                        <a class="nav-link menu_text" href="/auth/registration/"> Зарегистрироваться </a>
                    </li>
                </div>
            {% endif %}
          </ul>
      </div>
    </nav>



    <div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="main_page_header" >
            <h3> Добро пожаловать, введите ваши данные! </h3>
        </div>
    </div>




    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div type="fields">
                <form action="/auth/login/" method="post" autocomplete="off">
                    {% csrf_token %}
                    <!-- <label for="username">Логин</label> -->
                    <input type="text" id="username" name="username" placeholder="Ваш логин..">

                    <!-- <label for="username">Логин</label> -->
                    <input type="text" id="password" name="password" placeholder="Ваш пароль..">

                    <input type="submit" value="Войти">
                </form>
            </div>
            <div style="color: white; text-align: center">
                {{ login_error }}
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    </div>
{% endblock %}

