{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static "CSS/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "CSS/CustomStyles.css" %}">
    <script type="text/javascript" src="{% static "JS/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "JS/handbookScripts.js" %}"></script>
</head>

<body onload="activate_removing()" background="/static/Images/Back.jpg">

{% block MENU %}
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <a id="pdf_link" href="/{{ links.pdf }}.pdf" download> Скачать Pdf файл </a> <br>
        </div>

        <div class="col-md-4 handbook_text">
            <div class="handbook_title"> WEB справочник</div>
        </div>

        <div class="col-md-2">
            <a id="excel_link" href="/{{ links.excel }}.xlsx" download> Скачать Excel файл </a>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-12 handbook_text">
            {% block DATAFRAME %}
            {% endblock %}
        </div>
    </div>
</div>

    <footer class="fixedContactData contacts_text" id="footer1-94" style="background-color: rgb(68, 68, 68);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="mbr-footer__copyright"></p><p>Copyright (c) 2019 MIEM</p><p></p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>