{% extends "handbookCreating.html" %}


{% block CLASSES %}
    <div id="classes">
        {% for class in classes %}
            <div id="container_{{ class.name }}">
                <input type="checkbox" id="{{ class.name }}" name="{{ class.name }}" value="{{ class.name }}" onchange="click_on_class(this)">
                <label for="{{ class.name }}">{{ class.name }}</label>
                <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block GROUPS %}
    <div id="groups">
    </div>
{% endblock %}


{% block SUBGROUPS %}
    <div id="subgroups">
    </div>
{% endblock %}


{% block ELEMENTS %}
    <div id="elements">
    </div>
{% endblock %}