{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static "CSS/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "CSS/CustomStyles.css" %}">
    <script type="text/javascript" src="{% static "JS/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "JS/handbookScripts.js" %}"></script>
</head>
<body onload="initialize_page()">


<div class="page_header">
    <h3>Qualification Work</h3>
</div>

<div>
    {% block MENU %}
    {% endblock %}
</div>





<form method="post" action="/created_handbook/">
    <div id="handbook_meta">
        <input id="handbook_name" type="text" placeholder="Введите название справочника" name="handbook_name">
        <label> Единиц валюты: <div id="coins">{{ user.profile.coins }}</div></label>
    </div>
    <div class="container">
        <div class="row">

                {% csrf_token %}
                <div class="col-md-3">
                    {% block CLASSES %}
                    {% endblock %}
                </div>
                <div class="col-md-3">
                    {% block GROUPS %}
                    {% endblock %}
                </div>
                <div class="col-md-3">
                    {% block SUBGROUPS %}
                    {% endblock %}
                </div>
                <div class="col-md-3">
                    {% block ELEMENTS %}
                    {% endblock %}
                </div>
                <hr>
                <input type="submit" value="Сформировать справочник">

        </div>
    </div>
</form>


</body>
</html>