{% extends 'personalAccount.html' %}

{% block PERSONAL_DATA %}
    <div type="fields">
        <h3 style="color: white"> Информация </h3>
        <!-- <label for="login">Логин</label> -->
        <input type="text" id="login" name="login" value="{{ user.username }}" readonly>

        <!-- <label for="name">Имя</label> -->
        <input type="text" id="name" name="name" value="{{ user.first_name }}" readonly>

        <!-- <label for="surname">Фамилия</label> -->
        <input type="text" id="login" name="surname" value="{{ user.last_name }}" readonly>

        <!-- <label for="email">Почта</label> -->
        <input type="text" id="email" name="email" value="{{ user.email }}" readonly>

        <!-- <label for="email">Организация</label> -->
        <input type="text" id="organisation" name="organisation" value="{{ user.profile.organisation }}" readonly>

        <!-- <label for="email">Должность</label> -->
        <input type="text" id="position" name="position" value="{{ user.profile.position }}" readonly>

        <!-- <label for="email">Монеты</label> -->
        <input type="text" id="coins" name="coins" value="{{ user.profile.coins }}" readonly>

        <input type="submit" value="Изменить данные" onclick="(function(){document.location.href='/personal_account/change_data/';})()">
    </div>
{% endblock %}



{% block HANDBOOKS %}
    <div type="fields">
        <h3 style="color: white;"> Справочники </h3>
        <hr>
        <div id="created_handbooks">
            {% for handbook in handbooks %}
                <div style="color: white">
                    Название: <a href="/created_handbook/?handbook={{ handbook.id }}" >{{ handbook.handbook_name }}</a><br>
                    Дата добавления: {{ handbook.date_of_adding }} <br>
                    <a href="/delete_handbook/?id={{ handbook.id }}" style="color: black"> Удалить справочник </a> <br>
                </div>
                <hr>
            {% endfor %}
        </div>
        {% if handbooks.count <= 4 %}
            <a href="/creating_handbook/"> Создать справочник </a>
        {% endif %}
    </div>
{% endblock %}



{% block MENU %}
     <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <span class="mbr-brand__logo"><a href="#"><img class="menu_logo" src="/static/Images/logo.png" alt="Mobirise"></a></span>
          <ul class="navbar-nav"> <!-- Контент меню -->
            <li class="nav-item">
                    <a class="nav-link menu_text" href="/home/"> Главная страница </a>
            </li>
            {% if username %} <!-- Пользователь авторизирован -->
                <li class="nav-item">
                    <a class="nav-link menu_text" href="/offer_element/"> Предложить элементы </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu_text" href="/contact/"> Обратная связь </a>
                </li>

                <div class="form-row auth_pare">
                    <li class="nav-item">
                        <a class="nav-link menu_text" href="/personal_account/"> Личный кабинет </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu_text" href="/auth/logout/">Выйти ({{ username }})<span class="sr-only">(current)</span></a>
                    </li>
                </div>

            {% else %} <!-- Пользователь не авторищирован -->
                <div class="form-row auth_pare">
                    <li>
                        <a class="nav-link menu_text" href="/auth/login/"> Войти </a>
                    </li>
                    <li>
                        <a class="nav-link menu_text" href="/auth/registration/"> Зарегистрироваться </a>
                    </li>
                </div>
            {% endif %}
          </ul>
      </div>
    </nav>
{% endblock %}


