{% extends 'personalAccount.html' %}

{% block PERSONAL_DATA %}
    <div type="fields">
        <h3> Информация </h3>
        <label for="login">Логин</label>
        <input type="text" id="login" name="login" value="{{ user.username }}" readonly>

        <label for="name">Имя</label>
        <input type="text" id="name" name="name" value="{{ user.first_name }}" readonly>

        <label for="surname">Фамилия</label>
        <input type="text" id="login" name="surname" value="{{ user.last_name }}" readonly>

        <label for="email">Почта</label>
        <input type="text" id="email" name="email" value="{{ user.email }}" readonly>

        <label for="email">Организация</label>
        <input type="text" id="organisation" name="organisation" value="{{ user.profile.organisation }}" readonly>

        <label for="email">Должность</label>
        <input type="text" id="position" name="position" value="{{ user.profile.position }}" readonly>

        <label for="email">Монеты</label>
        <input type="text" id="coins" name="coins" value="{{ user.profile.coins }}" readonly>

        <a href="/personal_account/changeData/"><button class="col-sm-12" type="button"> Изменить данные </button></a>
    </div>
{% endblock %}



{% block HANDBOOKS %}
    <div type="fields">
        <h3> Справочники </h3>
        <hr>
        <div id="created_handbooks">
            {% for handbook in handbooks %}
                <div>
                    Название: <a href="/created_handbook/?handbook={{ handbook.id }}">{{ handbook.handbook_name }}</a><br>
                    Дата добавления: {{ handbook.date_of_adding }}
                </div>
                <hr>
            {% endfor %}
        </div>
        <a href="/creating_handbook/"> Создать справочник </a>
    </div>
{% endblock %}



{% block MENU %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav"> <!-- Контент меню -->
            <li class="nav-item">
                    <a class="nav-link" href="/home/"> Главная страница </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#about_project"> О проекте </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#aim"> Цель </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/offer_element/"> Добавить </a>
            </li>

            {% if username %} <!-- Пользователь авторизирован -->
                <li class="nav-item">
                    <a class="nav-link" href="/contact/"> Обратная связь </a>
                </li>
                <div class="form-row auth_pare">
                    <li class="nav-item">
                        <a class="nav-link" href="/personal_account/"> Личный кабинет </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout/">Выйти ({{ username }})<span class="sr-only">(current)</span></a>
                    </li>
                </div>

            {% else %} <!-- Пользователь не авторищирован -->
                <div class="form-row auth_pare">
                    <li>
                        <a class="nav-link" href="/auth/login/"> Войти </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/auth/registration/"> Зарегистрироваться </a>
                    </li>
                </div>
            {% endif %}

        </ul>
      </div>
    </nav>
{% endblock %}