{% extends 'home.html' %}


{% block TITLE %}
        <h3>Qualification Work</h3>
{% endblock %}


{% block MENU %}
    <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <span class="mbr-brand__logo"><a href="#"><img class="menu_logo" src="/static/Images/logo.png" alt="Mobirise"></a></span>
          <ul class="navbar-nav"> <!-- Контент меню -->
            <li class="nav-item">
                    <a class="nav-link menu_text" href="/home/"> Главная страница </a>
            </li>
            {% if username %} <!-- Пользователь авторизирован -->
                <li class="nav-item">
                    <a class="nav-link menu_text" href="/offer_element/"> Предложить элементы </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu_text" href="/contact/"> Обратная связь </a>
                </li>

                <div class="form-row auth_pare">
                    <li class="nav-item">
                        <a class="nav-link menu_text" href="/personal_account/"> Личный кабинет </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu_text" href="/auth/logout/">Выйти ({{ username }})<span class="sr-only">(current)</span></a>
                    </li>
                </div>

            {% else %} <!-- Пользователь не авторищирован -->
                <div class="form-row auth_pare">
                    <li>
                        <a class="nav-link menu_text" href="/auth/login/"> Войти </a>
                    </li>
                    <li>
                        <a class="nav-link menu_text" href="/auth/registration/"> Зарегистрироваться </a>
                    </li>
                </div>
            {% endif %}
          </ul>
      </div>
    </nav>
{% endblock %}

{% block MAIN_CONTENT %}
    <div class="main_text_container">
        <div class="main_page_text_main">
            База данных по надежности вычислительных систем и телекоммуникационного оборудования
        </div>
        <div class="main_page_text_lower">
            Рады приветствовать Вас на нашем информационном портале! <br>
            Наша база насчитывает {{ elements_number }} элементов. <br>
            {% if username %}
                Для формирования справочника перейдите в личный кабинет. <br>
            {% else %}
                Для получения доступа к базе войдите или зарегистрируйтесь. <br>
            {% endif %}

        </div>
    </div>
{% endblock %}